@model BooksApi.Models.Book.GroupTest
@{ Layout = null; }


<div class="row">
    <div class="col-md-12">
        <!-- Form Horizontal-->
        <form class="form-horizontal" asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="card-body">
                <div class="form-group row">
                    <label asp-for="Code" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">#</div>
                            </div>
                            <input asp-for="Code" class="form-control" />
                        </div>
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Desc" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <textarea asp-for="Desc" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Desc" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right btn-flat" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> @BooksApi.Services.StaticVar.ButtonClose</button>
                <button type="submit" class="btn btn-primary btn-save btn-flat" data-save="modal"><i class="fas fa-cloud-upload-alt" aria-hidden="true"></i> @BooksApi.Services.StaticVar.ButtonSave</button>
            </div>
        </form>
    </div>
</div>
