@model Config
<div class="contacts-info">
    <address>
        <i class="add-icon">&nbsp;</i>@Model.Address
    </address>
    <div class="phone-footer"><i class="phone-icon">&nbsp;</i> @Model.Phone</div>
    <div class="email-footer"><i class="email-icon">&nbsp;</i> <a href="mailto:@Model.Email">@Model.Email</a> </div>
</div>